.checkbox {
  appearance: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 22px;
  height: 22px;

  border: 1.5px solid #212529;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}
.checkbox:checked {
  background-color: white;
  border-color: #212529;
}
.checkbox:checked::after {
  content: "";
  width: 10.67px;
  height: 7.33px;
  border-left: 2px solid #212529;
  border-bottom: 2px solid #212529;
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%) rotate(-45deg);
}
.dep {
  width: 226px;
  height: 22px;
}
.box {
  white-space: nowrap;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0px;
  gap: 15px;
  justify-content: space-between;
  width: 263px;
  height: 22px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
  margin-left: 30px;
}

.container {
  padding: 40px 0px 20px;
  gap: 25px;

  position: absolute;
  width: 688px;

  left: 118px;
  top: 288px;

  background: #ffffff;
  /* Purple */
  border: 0.5px solid #8338ec;
  border-radius: 10px;
  z-index: 2;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Pushes the button to the bottom */
  padding: 40px 0px 20px;
  gap: 25px;

  position: absolute;
  width: 688px;

  left: 118px;
  top: 288px;

  background: #ffffff;
  border: 0.5px solid #8338ec;
  border-radius: 10px;
  z-index: 2;
}

.mainBox {
  flex-grow: 0; /* Makes the content take up space */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hidden {
  display: none;
}

.show {
  display: flex; /* or block/grid depending on your layout */
}
.buttonOpacity {
  opacity: 0.7; /* Frame 1000005937 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 10px;

  width: 155px;
  height: 35px;

  background: #8338ec;
  border-radius: 20px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: auto;
  margin-right: 14px;
}
.activeButton {
  /* Frame 1000005937 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 10px;

  width: 155px;
  height: 35px;

  background: #8338ec;
  border-radius: 20px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: auto;
  margin-right: 14px;
  cursor: pointer;

  font-family: "FiraGO";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
