.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.icon img {
  /* Hourglass */

  width: 38px;
  height: 38px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.icon {
  display: flex;
  align-items: center;
}

.buttons :nth-child(1) {
  /* Frame 171 */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  width: 225px;
  height: 39px;

  background: #ffffff;
  border: 1px solid #8338ec;
  border-radius: 5px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.buttons :nth-child(1) {
  /* თანამშრომლის შექმნა */

  font-family: "FiraGO";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  /* Grey SHades/Headlines */
  color: #212529;
}
.buttons :nth-child(2) {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}
.buttons {
  display: flex;
  width: 533px;
  justify-content: space-between;
}
.buttons * {
  cursor: pointer;
}
link {
  text-decoration: none;
}
.buttonOne {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  width: 225px;
  height: 39px;

  background: #ffffff;
  border: 1px solid #8338ec;
  border-radius: 5px;
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #212529;

  cursor: pointer;
  text-decoration: none;
}

.buttonTwo {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  width: 225px;
  height: 39px;

  background: #ffffff;
  border: 1px solid #8338ec;
  border-radius: 5px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  width: 268px;
  height: 40px;

  background: #8338ec;
  border-radius: 5px;
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;

  cursor: pointer;
  text-decoration: none;
}
.icon p {
  text-decoration: none;
}
.icon {
  text-decoration: none;
  display: flex; /* Ensures inline elements align properly */
  align-items: center;
  gap: 8px; /* Adds space between the text and the image */
  color: inherit; /* Ensures text uses the default color */

  /* Momentum */

  width: 268px;
  height: 38px;

  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 1000;
  font-size: 41px;
  line-height: 38px;
  /* identical to box height */

  color: #8338ec;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.icon p {
  margin: 0; /* Removes default margin on <p> */
  text-decoration: none; /* Ensures no underline */
}
