@media (max-width: 1920px), (max-height: 1080px) {
  .container {
    transform: scale(0.8); /* Adjust this value as needed */
    transform-origin: top left;
  }
}
* {
  box-sizing: border-box;
}
.container {
  width: 1920px;
  height: 1080px;

  padding-left: 120px;
  padding-right: 120px;
}
.blur {
  /* Rectangle 50 */
  opacity: 0.2;

  /* Note: backdrop-filter has minimal browser support */
}
